{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    The new collections are fresh out the oven
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<body>

    <!-- Header -->
    <div class="header">
      <h1>My Previous Work</h1>
      <p>Check out some of my work for my clients</p>
    </div>
    
    <!-- Photo Grid -->
    <div class="row">
      <div class="column">
        <img src="Rinse_JohnDaly.jpg" style="width:100%">
        <img src="Rinse_Ducks.jpg" style="width:100%">
      </div>
      <div class="column">
        <img src="Guiness_Skeleton.jpg" style="width:100%">
        <img src="Skeleton_Feet.jpg" style="width:100%">
      </div>  
      <div class="column">
        <img src="TooNoo_Album.jpg" style="width:100%">
        <img src="DJCrbs.jpg" style="width:100%">
      </div>
      <div class="column">
        <img src="Rinse_Shampain.jpg" style="width:100%">
        <img src="Rinse_Crabs.jpg" style="width:100%">
      </div>
    </div>
    
    </body>
    </html>
