<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="products-link" aria-haspopup="true" aria-expanded="false"
            >
                Products
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'work' %}" id="store-link" aria-haspopup="true" aria-expanded="false"
            >
                Work
            </a>
        </li>

        <li class="nav-item">
            <a class= "logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'clients' %}">Clients</a>
          </li>
        </li>

        <li class="nav-item">
            <a class= "logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}">Contact</a>
          </li>
        </li>

    </ul>
</div>