<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <head>
        <link rel="stylesheet" href="{% static 'css/work.css' %}">
        <script src="{% static 'js/work.js' %}"></script>
    </head>

    <body>
        <h2 style="text-align:center">Gallery of Work</h2>

        <div class="container">

            {% for previous_work in gallery %}
            <div class="mySlides">
                <div class="numbertext"> {{forloop.counter}} / {{previous_work.count}}</div>
                <img src="{{ previous_work.image.url }}" height="50%" width="100%">
            </div>
            {% endfor %}


            <!-- <div class="mySlides">
                <div class="numbertext">1 / 6</div>
                <img src="/media/TooNoo_Album.JPG" height="50%" width="100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">2 / 6</div>
                <img src="/media/Rinse_Shampain.JPG" height="50%" width="100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">3 / 6</div>
                <img src="/media/Rinse_JohnDaly.jpg" height="50%" width="100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">4 / 6</div>
                <img src="/media/Rinse_Crabs.JPG" height="50%" width="100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">5 / 6</div>
                <img src="/media/Rinse_Ducks.jpg" height="50%" width="100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">6 / 6</div>
                <img src="/media/Skeleton_Feet.JPG" height="50%" width="100%">
            </div> -->

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

            <div class="caption-container">
                <p id="caption"></p>
            </div>

                    {% endblock %}