<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <link rel="stylesheet" href="{% static 'css/work.css' %}">
        <script src="{% static 'js/work.js' %}"></script>
    </head>

    <body>
        <h2 style="text-align:center">Gallery of Work</h2>

        <div class="container">
            <div class="mySlides">
                <div class="numbertext">1 / 6</div>
                <img src="{% static 'work/img/Rinse_JohnDaly.jpg' %}" height="50%" width="100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">2 / 6</div>
                <img src="{% static 'work/img/Rinse_Shampain.jpg' %}" height="50%" width="100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">3 / 6</div>
                <img src="{% static 'work/img/Guiness_Skeleton.jpg' %}" height="50%" width="100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">4 / 6</div>
                <img src="{% static 'work/img/Rinse_Crabs.jpg' %}" height="50%" width="100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">5 / 6</div>
                <img src="{% static 'work/img/Rinse_Ducks.jpg' %}" height="50%" width="100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">6 / 6</div>
                <img src="{% static 'work/img/Skeleton_Feet.jpg' %}" height="50%" width="100%">
            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

            <div class="caption-container">
                <p id="caption"></p>
            </div>

            <div class="row">
                <div class="column">
                    <img class="demo cursor" src="{% static 'work/img/Rinse_JohnDaly.jpg' %}" style="width:100%" onclick="currentSlide(1)" alt="Shamp">